main.auth {
    // background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    // background: linear-gradient(to right, #3E5151, #DECBA4);

    background: linear-gradient(to right, #134E5E, #71B280);
    // background: linear-gradient(to right, #134E5E, #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;

    .card {
        max-width: 450px;
        margin: 0 auto;
        background-color: rgb(209, 208, 208);
    }
}